{{yield}}


<div class="logo" style="float: left;">
    <div style="font-size: 40px; margin-left: 10px;">{{link-to 'rumeo' 'index'}}</div>
</div>

{{#if active}}
    <div class="category_menu transparent_overlay_box col-md-5"
         style="margin-left: 208px; color: white; position: absolute">


        {{#each categories as |category|}}

            <div {{action 'clicked'}} class="category col-sm-3" style="height: 150px; width: 200px;">

                {{#link-to 'videos' (query-params category=category.id)  class="category_cell_title_link"}}
                    <div class="item_desc all_cat_grid" style="">
                        <p class="title">{{category.name}}</p>
                    </div>
                {{/link-to}}
            </div>

        {{/each}}
    </div>
{{/if}}

<button {{action 'menuToggle'}} class="btn btn-primary pull-left">Меню</button>
{{#link-to 'categories'}}
    <div style="font-size: 20px; line-height: 3; display: inline;">Категории</div>
{{/link-to}}
{{#if user }}
    <button {{action 'logout'}}class="btn btn-primary pull-right">Выйти</button>
    {{#if (can 'add videos')}}
        {{link-to 'Добавить видео' 'add' class="btn btn-primary pull-right"}}
    {{/if}}
{{else}}
    {{link-to 'Войти' 'index.login' class="btn btn-primary pull-right"}}
{{/if}}

